body {
  background-color: #F7F9FB;
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: grey;
}

h1, h2 {
  color: #8ccbbe;
}

.img-tall {
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,0.84) 67%,rgba(174,208,212,1) 80%,rgba(50,136,147,1) 100%,rgba(50,136,147,1) 101%);
  border-radius: 25px;
  padding: 3% 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  min-width: 40em;
}

.card-left {
  float: left;
  text-align: center;
  width: 67%;
  padding-top: 100px;
}

.card-right {
  float: left;
  text-align: center;
  width: 33%;
  overflow: hidden;
}

.btn-blue {
  background-color: #3797A4;
  border: none;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  box-shadow: 0 5px #999;
  display: inline-block;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: rgb(50, 136, 147);
  color: white;
}

.btn-blue:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.btn-blue.social-link {
  font-size: 42px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  padding: 5px 20px;
}

.bar-white {
  width: 90%;
  padding: none;
  margin: 0 auto;
  border-radius: 70px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  bottom: 100px;
  display: inline-block;
  position: relative;
}

.bar-white li {
  margin: 2px 2%;
  padding: 35px 70px;
  border-radius: 25px;
}

.bar-white li:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 0 1px 3px #cdcdcd;
}

.bar-white li:active {
  background-color: rgb(238, 238, 238);
  transform: translateY(1px);
  box-shadow: inset 0 1px 4px lightgrey;
}
/*
.btn-blue-small {
  background-color: #3797A4;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px #999;
  display: inline-block;
  text-decoration: none;
}

.btn-blue-small:hover {
  background-color: rgb(50, 136, 147);
  color: white;
}

.btn-blue-small:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}*/

.btn-sml {
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px #999;
}

.btn-sml:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}
