@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
  font-size: 24px;
  color: grey;
  font-family: 'Raleway', sans-serif;
  background: rgb(21,58,62);
  background: linear-gradient(180deg, rgba(21,58,62,1) 0%, rgba(32,81,88,1) 20%, rgba(35,79,85,1) 40%, rgba(41,100,108,1) 60%, rgba(46,131,143,1) 80%, rgba(40,141,156,1) 90%);
}

h1, h2 {
  color: #3797A4;
  text-shadow: 1px 2px 5px rgba(0,0,0,.2);
  line-height: 50px;
}








.img-circle {
  object-fit: cover;
  border-radius: 20px;
  width: 400px;
  box-shadow: 1px 2px 5px rgba(0,0,0,1);
  z-index: 2;
  position: absolute;
  left: 35%;
}

.slight-move {
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
}




.box {
  height:325px;
  width:415px;
  box-shadow: 1px 2px 5px rgba(0,0,0,1);
  border-radius: 20px;
  position: relative;
  left: 33.5%;
  top: 37px;
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -ms-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;
  padding: 5px;
  z-index: 1;
  background-color: #F3F3F3;
}

#profile.box:hover {
  left: 58%;
}

#profile.box:hover + .img-circle {
    left: 30%;
}

#hidden-gem.box:hover {
  left: 58%;
}

#hidden-gem.box:hover + .img-circle{
  left: 30%;
}


.card {
  width: 90%;
  padding: 16px;
  margin: 24px auto;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  padding-bottom: 32px;
  border-radius: 5px;
  background: #F3F3F3;
}






.container {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 25px;
  padding: 3% 20px;
}






.btn-blue {
  background-color: #3797A4;
  border: none;
  color: white;
  padding: 16px 24px;
  border-radius: 16px;
  box-shadow: 0 5px #999;
  display: inline-block;
  text-decoration: none;
}

.btn-blue:hover {
  background-color: rgb(50, 136, 147);
  color: white;
}

.btn-blue:active {
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.btn-blue.social-link {
  font-size: 42px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}
